<!doctype html>
<html>

<head>
  <title>RPSD - Accueil</title>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="static/index.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="static/main.css" />

</head>

<body>

    <div class=row>
      <div class="col-12 text-center">
          <h1>RPSD</h1>
      </div>
    </div>

  </hr size="40">
    <div class="row">

      <div id="capteur" class="col-3 text-center">

        <h3>Capteurs</h3>

        <p>Quantité de gaz : <span id="gaz"> </span> ppm </br>
        Température : <span id="temp"> </span>° </br>
        Humidité : <span id="hum"> </span> % </p>

      </div>

       <div id="video" class="col-6 text-center">
         <img src="{{ url_for('image_url') }}">
        </div>

      <div id="action" class="col-3 text-center">

        <h3 class="text-center">Commandes</h3>
        <p id="info"> </p>
        <p><button onclick='mouvement("avancer")'>↑</button></p>
        <p>
          <button onclick='mouvement("gauche")'>←</button>
          <button onclick='mouvement("droite")'>→</button>
        </p>
        <p> <button onclick='mouvement("reculer")'>↓</button> </p>

        <p></br><button onclick="jet()">Activation extincteur</button></p>


      </div>


    </div>

</body>

</html>
